.container-home {
    max-width: 80vw;
    margin: auto;
    @media (max-width: 768px) {
        max-width: 90vw;
    }
}

.main {
    width: 100%;
    position: relative;
    margin-top: -11.5rem;
    overflow-x: hidden;
}

.data-section {
    position: relative;
    .container-home {
        background: $color-white;
        padding: 6rem;

        @media (max-width: 768px) {
            padding: 6rem 4rem;
        }
    }
    .items-image {
        position: absolute;
        bottom: 0;
        right: -5rem;
        z-index: 0;
        max-height: 40rem;
        height: 40rem;
        @media (max-width: 768px) {
            display: none;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
    .data-group {
        z-index: 999;
        .grid {
            @include grid(4);

            @media (max-width: 768px) {
                @include grid(2);
            }
        }
    }

    .data-info {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 2rem;
        color: $color-secondary;
        img {
            height: 45px;
        }
        &-number {
            font-family: "Montserrat Bold";
            font-size: 4rem;
            padding: 1rem 0;
        }
    }
}

.category-section {
    background: $color-grey-light;
    .container-home {
        background: $color-grey-light;
        padding: 6rem;
        @media (max-width: 768px) {
            padding: 6rem 4rem;
        }
    }
    .grid {
        @include grid(6);
        @media (max-width: 768px) {
            @include grid(3);
        }
    }
    .category-icon{
        transition: all .2s;
        min-height: 40px;
        margin-bottom: 1rem;
        width: 40px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .category-info {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 2rem;
        text-align: center;
        padding: 1rem 0;
        border-radius: 10px;
        transition: all .2s;
        justify-content: center;
        cursor: pointer;

        &:hover{
            background: $color-white;
            color: $color-secondary;
            box-shadow: 0 0 15px -2px rgba($color-grey-dark, .3);

            .icon-gubernamental{
                background-image: url("../../../assets/icons/topics/orange/icon-gubernamental.svg");
            }
            .icon-ambiente{
                background-image: url("../../assets/icons/topics/orange/icon-ambiente.svg");
            }
            .icon-cultura{
                background-image: url("../../assets/icons/topics/orange/icon-cultura.svg");
            }
            .icon-desarrollo{
                background-image: url("../../assets/icons/topics/orange/icon-desarrollo.svg");
            }
            .icon-economia{
                background-image: url("../../assets/icons/topics/orange/icon-economia.svg");
            }
            .icon-educacion{
                background-image: url("../../assets/icons/topics/orange/icon-educacion.svg");
            }
            .icon-hacienda{
                background-image: url("../../assets/icons/topics/orange/icon-hacienda.svg");
            }
            .icon-infraestructura{
                background-image: url("../../assets/icons/topics/orange/icon-infraestructura.svg");
            }
            .icon-movilidad{
                background-image: url("../../assets/icons/topics/orange/icon-movilidad.svg");
            }
            .icon-ordenamiento{
                background-image: url("../../assets/icons/topics/orange/icon-ordenamiento.svg");
            }
            .icon-poblacion{
                background-image: url("../../assets/icons/topics/orange/icon-poblacion.svg");
            }
            .icon-salud{
                background-image: url("../../assets/icons/topics/orange/icon-salud.svg");
            }
            .icon-social{
                background-image: url("../../assets/icons/topics/orange/icon-social.svg");
            }
            .icon-territorios{
                background-image: url("../../assets/icons/topics/orange/icon-territorios.svg");
            }
            .icon-vivienda{
                background-image: url("../../assets/icons/topics/orange/icon-vivienda.svg");
            }

            .text{
                color: $color-secondary;
            }
        }
    }
}

.newsletter {
    &-section {
        background: $color-green-blue;

        button {
            @media (max-width: 768px) {
                display: block;
                margin: auto;
            }
        }

        .container-home {
            background: $color-green-blue;
            padding: 3rem 6rem;
            @media (max-width: 768px) {
                padding: 3rem 4rem;
            }
        }
    }

    &-info {
        @include grid-auto(2);
        @media (max-width: 768px) {
            @include grid(1);
        }

        img {
            width: 50px;
            margin-right: 1rem;
        }

        .input-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }

        button {
            height: fit-content;
        }
    }

    &-title {
        font-size: 1.6rem;
        font-family: "Montserrat Regular";
        color: $color-white;
    }

    &-subtitle {
        font-size: 1.2rem;
        font-family: "Work Sans";
        color: $color-white;

        @media (max-width: 768px) {
            text-align: center;
        }

        a {
            color: $color-secondary;
        }
    }

    &-input {
        outline: none;
        background: transparent;
        border: 1px solid $color-white;
        color: $color-white;
        padding: 1rem 2rem;
        border-radius: 5rem;
        font-family: "Work Sans";
        min-width: 25rem;
        margin-bottom: 1rem;
        @media (max-width: 768px) {
            display: block;
            margin: 1rem auto;
        }

        &::placeholder {
            color: $color-white;
        }
    }
}

.blog {
    &-section {
        background: $color-white;
        position: relative;

        .container-home {
            background: $color-white;
            padding: 6rem;
            @media (max-width: 768px) {
                padding: 6rem 4rem;
            }
        }
    }

    &-image {
        position: absolute;
        bottom: 0;
        left: 0rem;
        z-index: 0;
        max-height: 40rem;
        height: 40rem;
        @media (max-width: 768px) {
            display: none;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.contact {
    &-section {
        background: $color-grey-smoke;
        position: relative;
        overflow: hidden;

        .container-home {
            background: $color-grey-smoke;
            padding: 6rem;

            @media (max-width: 768px) {
                padding: 3rem;
            }
        }
    }

    &-privacity {
        text-align: center;
        @media (max-width: 768px) {
            flex-direction: column;
            text-align: center;

            p {
                margin-right: 0;
            }
        }
        p {
            margin-right: 2rem;
        }

        a {
            color: $color-aquamarine;
            text-decoration: none;

            &:hover {
                color: $color-primary;
                text-decoration: none;
            }
        }
    }

    &-image {
        position: absolute;
        bottom: -10rem;
        right: 0rem;
        z-index: 0;
        max-height: 30rem;
        height: 30rem;
        @media (max-width: 768px) {
            display: none;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }

    &-title {
        font-family: "Montserrat SemiBold";
        font-size: 1.4rem;
        color: $color-white;
        text-align: left;
        margin-left: 1rem;
    }

    &-separator {
        width: 70%;
        display: flex;
        align-items: center;
        position: relative;
        border: none;
        margin: 1rem 0;
        &::before {
            content: "";
            width: 100%;
            height: 1px;
            background-color: $color-grey-medium;
            position: absolute;
        }
        &::after {
            content: "";
            width: 60%;
            height: 3px;
            z-index: 998;
            margin-left: 1rem;
            background-color: $color-white;
        }
    }

    &-list {
        list-style: none;
        margin-left: 1rem;
    }

    &-item {
        margin: 2rem 0;
        display: flex;
        align-items: center;
    }

    &-decorator {
        width: 8px;
        height: 15px;
        display: inline-block;
        margin-right: 5px;
        background: $color-aquamarine;
        border-radius: 0px 0px 0px 10px;
    }

    &-link {
        color: $color-white;
        text-decoration: none;
        font-size: 1.2rem;
        font-family: "Work Sans";
    }

    &-icon {
        color: $color-aquamarine;
        font-size: 1.5rem;
        margin-right: 1rem;
    }

    &-social {
        &-container {
            flex-wrap: wrap;
            flex-direction: column;

            p {
                margin: 2rem 0;
            }

            .logo {
                width: 150px;

                img {
                    width: 100%;
                }
            }
        }
        &-list {
            display: flex;
            margin: 1rem;
            justify-content: center;
            align-items: center;

            img {
                max-width: 3rem;
            }
        }

        &-item {
            margin: 0 1rem;
        }
    }
}

.social {
    &-section {
        background: $color-white;
        position: relative;

        .container-home {
            background: $color-white;
            padding: 6rem 6rem 0 6rem;
            @media (max-width: 768px) {
                padding: 6rem 4rem 0 4rem;
                text-align: center;
            }
        }
    }

    &-container {
        @include grid(5);

        @media (max-width: 768px) {
            @include grid(1);
            overflow-x: scroll;
        }
        
    }

    &-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
            max-width: 70%;
            margin-bottom: 1rem;
            @media (max-width: 768px) {
                display: block;
                margin: auto;
            }
        }

        a {
            color: $color-primary;
            text-decoration: none;
            font-size: 1.4rem;
            font-family: "Work Sans";
        }
    }
}

.footer {
    background-color: $color-green-blue;
    width: 100%;

    &-container {
        width: 80vw;
        margin: auto;
        padding: 2rem 6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 768px) {
            max-width: 90vw;
            flex-direction: column;
            justify-content: center;

            .footer-logos{
                display: flex;
            }
        }
    }
    &-brand {
        img {
            max-height: 40px;
        }
    }
}

.icon{
    &-gubernamental{
        background-image: url("../../assets/icons/topics/black/icon-gubernamental.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/icon-gubernamental.svg");
        }
    }
    &-ambiente{
        background-image: url("../../assets/icons/topics/black/icon-ambiente.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/icon-ambiente.svg");
        }
    }
    &-cultura{
        background-image: url("../../assets/icons/topics/black/icon-cultura.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/icon-cultura.svg");
        }
    }
    &-desarrollo{
        background-image: url("../../assets/icons/topics/black/icon-desarrollo.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/icon-desarrollo.svg");
        }
    }
    &-economia{
        background-image: url("../../assets/icons/topics/black/icon-economia.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/icon-economia.svg");
        }
    }
    &-educacion{
        background-image: url("../../assets/icons/topics/black/icon-educacion.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/icon-educacion.svg");
        }
    }
    &-hacienda{
        background-image: url("../../assets/icons/topics/black/icon-hacienda.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/icon-hacienda.svg");
        }
    }
    &-infraestructura{
        background-image: url("../../assets/icons/topics/black/icon-infraestructura.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/icon-infraestructura.svg");
        }
    }
    &-movilidad{
        background-image: url("../../assets/icons/topics/black/icon-movilidad.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/icon-movilidad.svg");
        }
    }
    &-ordenamiento{
        background-image: url("../../assets/icons/topics/black/icon-ordenamiento.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/icon-ordenamiento.svg");
        }
    }
    &-poblacion{
        background-image: url("../../assets/icons/topics/black/icon-poblacion.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/icon-poblacion.svg");
        }
    }
    &-salud{
        background-image: url("../../assets/icons/topics/black/icon-salud.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/icon-salud.svg");
        }
    }
    &-social{
        background-image: url("../../assets/icons/topics/black/icon-social.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/icon-social.svg");
        }
    }
    &-territorios{
        background-image: url("../../assets/icons/topics/black/icon-territorios.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/icon-territorios.svg");
        }
    }
    &-vivienda{
        background-image: url("../../assets/icons/topics/black/icon-vivienda.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/icon-vivienda.svg");
        }
    }
}
