.container-home {
    max-width: 80vw;
    margin: auto;
    @media (max-width: 768px) {
        max-width: 95vw;
    }
}

.main {
    width: 100%;
    position: relative;
    margin-top: 30rem;
    overflow-x: hidden;
    @media (max-width: 768px) {
        margin-top: 18rem;
    }
}

.data-section {
    position: relative;
    .container-home {
        background: $color-white;
        padding: 6rem;

        @media (max-width: 768px) {
            padding: 8rem 1rem;
        }
    }
    .items-image {
        position: absolute;
        bottom: 0;
        right: -5rem;
        z-index: 0;
        max-height: 40rem;
        height: 40rem;
        @media (max-width: 768px) {
            display: none;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
    .data-group {
        z-index: 999;
        .grid {
            @include grid(4);

            @media (max-width: 768px) {
                @include grid(2);
            }
        }
    }

    .data-info {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 2rem;
        color: $color-secondary;
        img {
            height: 45px;
        }
        &-number {
            font-family: "Montserrat Bold";
            font-size: 4rem;
            padding: 1rem 0;
        }
    }
}

.category-section {
    background: $color-grey-light;
    .container-home {
        background: $color-grey-light;
        padding: 6rem;
        @media (max-width: 768px) {
            padding: 6rem 1rem;
        }
    }
    .grid {
        @include grid(6);
        @media (max-width: 768px) {
            @include grid(3);
        }
    }
    .category-icon{
        transition: all .2s;
        min-height: 40px;
        margin-bottom: 1rem;
        width: 40px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .category-info {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 2rem;
        text-align: center;
        padding: 1rem 0;
        border-radius: 10px;
        transition: all .2s;
        justify-content: center;
        cursor: pointer;

        &:hover{
            background: $color-white;
            color: $color-secondary;
            box-shadow: 0 0 15px -2px rgba($color-grey-dark, .3);

            .icon-01{
                background-image: url("../../assets/icons/topics/orange/01_naranja.svg");
            }
            .icon-02{
                background-image: url("../../assets/icons/topics/orange/02_naranja.svg");
            }
            .icon-03{
                background-image: url("../../assets/icons/topics/orange/03_naranja.svg");
            }
            .icon-04{
                background-image: url("../../assets/icons/topics/orange/04_naranja.svg");
            }
            .icon-05{
                background-image: url("../../assets/icons/topics/orange/05_naranja.svg");
            }
            .icon-06{
                background-image: url("../../assets/icons/topics/orange/06_naranja.svg");
            }
            .icon-07{
                background-image: url("../../assets/icons/topics/orange/07_naranja.svg");
            }
            .icon-08{
                background-image: url("../../assets/icons/topics/orange/08_naranja.svg");
            }
            .icon-09{
                background-image: url("../../assets/icons/topics/orange/09_naranja.svg");
            }
            .icon-10{
                background-image: url("../../assets/icons/topics/orange/10_naranja.svg");
            }
            .icon-11{
                background-image: url("../../assets/icons/topics/orange/11_naranja.svg");
            }
            .icon-12{
                background-image: url("../../assets/icons/topics/orange/12_naranja.svg");
            }
            .icon-13{
                background-image: url("../../assets/icons/topics/orange/13_naranja.svg");
            }
            .icon-14{
                background-image: url("../../assets/icons/topics/orange/14_naranja.svg");
            }
            .icon-15{
                background-image: url("../../assets/icons/topics/orange/15_naranja.svg");
            }
            .icon-16{
                background-image: url("../../assets/icons/topics/orange/16_naranja.svg");
            }
            .icon-17{
                background-image: url("../../assets/icons/topics/orange/17_naranja.svg");
            }
            .icon-18{
                background-image: url("../../assets/icons/topics/orange/18_naranja.svg");
            }
            .icon-19{
                background-image: url("../../assets/icons/topics/orange/19_naranja.svg");
            }
            .icon-20{
                background-image: url("../../assets/icons/topics/orange/20_naranja.svg");
            }
            .icon-21{
                background-image: url("../../assets/icons/topics/orange/21_naranja.svg");
            }
            .icon-22{
                background-image: url("../../assets/icons/topics/orange/22_naranja.svg");
            }
            .icon-23{
                background-image: url("../../assets/icons/topics/orange/23_naranja.svg");
            }
            .icon-24{
                background-image: url("../../assets/icons/topics/orange/24_naranja.svg");
            }
            .icon-25{
                background-image: url("../../assets/icons/topics/orange/25_naranja.svg");
            }
            .icon-26{
                background-image: url("../../assets/icons/topics/orange/26_naranja.svg");
            }
            .text{
                color: $color-secondary;
            }
        }
    }
}

.newsletter {
    &-section {
        background: $color-green-blue;

        button {
            @media (max-width: 768px) {
                display: block;
                margin: auto;
            }
        }

        .container-home {
            background: $color-green-blue;
            padding: 3rem 6rem;
            @media (max-width: 768px) {
                padding: 3rem 1rem;
            }
        }
    }

    &-info {
        @include grid-auto(2);
        @media (max-width: 768px) {
            @include grid(1);
        }

        &-title{
            @media (max-width: 768px) {
                flex-direction: column;
            }
        }

        img {
            width: 50px;
            margin-right: 1rem;
        }

        .input-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }

        button {
            height: fit-content;
        }
    }

    &-title {
        font-size: 1.6rem;
        font-family: "Montserrat Regular";
        color: $color-white;
    }

    &-subtitle {
        font-size: 1.2rem;
        font-family: "Work Sans";
        color: $color-white;

        @media (max-width: 768px) {
            text-align: center;
        }

        a {
            color: $color-secondary;
        }
    }

    &-input {
        outline: none;
        background: transparent;
        border: 1px solid $color-white;
        color: $color-white;
        padding: 1rem 2rem;
        border-radius: 5rem;
        font-family: "Work Sans";
        min-width: 25rem;
        margin-bottom: 1rem;
        @media (max-width: 768px) {
            display: block;
            margin: 1rem auto;
        }

        &::placeholder {
            color: $color-white;
        }
    }
}

.blog {
    &-section {
        background: $color-white;
        position: relative;

        .container-home {
            background: $color-white;
            padding: 6rem;
            @media (max-width: 768px) {
                padding: 6rem 1rem;
            }
        }
    }

    &-image {
        position: absolute;
        bottom: 0;
        left: 0rem;
        z-index: 0;
        max-height: 40rem;
        height: 40rem;
        @media (max-width: 768px) {
            display: none;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.contact {
    &-section {
        background: $color-grey-smoke;
        position: relative;
        overflow: hidden;

        .text{
            @media (max-width: 768px) {
                font-size: 1.6rem !important;
            }
        }

        .container-home {
            background: $color-grey-smoke;
            padding: 6rem;

            @media (max-width: 768px) {
                padding: 3rem 1rem;
            }
        }
    }

    &-privacity {
        text-align: center;
        @media (max-width: 768px) {
            flex-direction: column;
            text-align: center;

            p {
                margin-right: 0;
            }
        }
        p {
            margin-right: 2rem;
            @media (max-width: 768px) {
                margin-right: 0;
            }
        }

        a {
            color: $color-aquamarine;
            text-decoration: none;

            &:hover {
                color: $color-primary;
                text-decoration: none;
            }
        }
    }

    &-image {
        position: absolute;
        bottom: -10rem;
        right: 0rem;
        z-index: 0;
        max-height: 30rem;
        height: 30rem;
        @media (max-width: 768px) {
            display: none;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }

    &-title {
        font-family: "Montserrat SemiBold";
        font-size: 1.4rem;
        color: $color-white;
        text-align: left;
        margin-left: 1rem;
    }

    &-separator {
        width: 70%;
        display: flex;
        align-items: center;
        position: relative;
        border: none;
        margin: 1rem 0;
        &::before {
            content: "";
            width: 100%;
            height: 1px;
            background-color: $color-grey-medium;
            position: absolute;
        }
        &::after {
            content: "";
            width: 60%;
            height: 3px;
            z-index: 998;
            margin-left: 1rem;
            background-color: $color-white;
        }
    }

    &-list {
        list-style: none;
        margin-left: 1rem;
    }

    &-item {
        margin: 2rem 0;
        display: flex;
        align-items: center;
    }

    &-decorator {
        width: 8px;
        height: 15px;
        display: inline-block;
        margin-right: 5px;
        background: $color-aquamarine;
        border-radius: 0px 0px 0px 10px;
    }

    &-link {
        color: $color-white;
        text-decoration: none;
        font-size: 1.4rem;
        font-family: "Work Sans";
        @media (max-width: 768px) {
            font-size: 1.6rem;
        }
    }

    &-icon {
        color: $color-aquamarine;
        font-size: 1.5rem;
        margin-right: 1rem;
    }

    &-social {
        &-container {
            flex-wrap: wrap;
            flex-direction: column;

            p {
                margin: 2rem 0;
            }

            .logo {
                img {
                    max-height: 90px;
                    @media (max-width: 768px) {
                        max-height: 70px;
                    }
                }
            }
        }
        &-list {
            display: flex;
            margin: 1rem;
            justify-content: center;
            align-items: center;

            img {
                max-width: 3rem;
            }
        }

        &-item {
            margin: 0 1rem;
        }
    }
}

.social {
    &-section {
        background: $color-white;
        position: relative;

        .container-home {
            background: $color-white;
            padding: 6rem 6rem 0 6rem;
            @media (max-width: 768px) {
                padding: 6rem 1rem 0 1rem;
                text-align: center;
            }
        }
    }

    &-container {
        @include grid(5);

        @media (max-width: 768px) {
            overflow-x: scroll;
        }
        
    }

    &-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (max-width: 768px) {
            width: 60vw;
            text-align: left;
        }
        img {
            max-width: 70%;
            margin-bottom: 1rem;
        }

        a {
            color: $color-primary;
            text-decoration: none;
            font-size: 1.4rem;
            font-family: "Work Sans";
        }
    }
}

.footer {
    background-color: $color-green-blue;
    width: 100%;

    &-container {
        width: 80vw;
        margin: auto;
        padding: 2rem 6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 768px) {
            max-width: 90vw;
            flex-direction: column;
            justify-content: center;

            .footer-logos{
                display: flex;
            }
        }
    }
    &-brand {
        img {
            max-height: 40px;
        }
    }
}

.icon{
    &-01{
        background-image: url("../../assets/icons/topics/black/01_negro.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/01_naranja.svg");
        }
    }
    &-02{
        background-image: url("../../assets/icons/topics/black/02_negro.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/02_naranja.svg");
        }
    }
    &-03{
        background-image: url("../../assets/icons/topics/black/03_negro.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/03_naranja.svg");
        }
    }
    &-04{
        background-image: url("../../assets/icons/topics/black/04_negro.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/04_naranja.svg");
        }
    }
    &-05{
        background-image: url("../../assets/icons/topics/black/05_negro.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/05_naranja.svg");
        }
    }
    &-06{
        background-image: url("../../assets/icons/topics/black/06_negro.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/06_naranja.svg");
        }
    }
    &-07{
        background-image: url("../../assets/icons/topics/black/07_negro.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/07_naranja.svg");
        }
    }
    &-08{
        background-image: url("../../assets/icons/topics/black/08_negro.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/08_naranja.svg");
        }
    }
    &-09{
        background-image: url("../../assets/icons/topics/black/09_negro.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/09_naranja.svg");
        }
    }
    &-10{
        background-image: url("../../assets/icons/topics/black/10_negro.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/10_naranja.svg");
        }
    }
    &-11{
        background-image: url("../../assets/icons/topics/black/11_negro.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/11_naranja.svg");
        }
    }
    &-12{
        background-image: url("../../assets/icons/topics/black/12_negro.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/12_naranja.svg");
        }
    }
    &-13{
        background-image: url("../../assets/icons/topics/black/13_negro.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/13_naranja.svg");
        }
    }
    &-14{
        background-image: url("../../assets/icons/topics/black/14_negro.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/14_naranja.svg");
        }
    }
    &-15{
        background-image: url("../../assets/icons/topics/black/15_negro.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/15_naranja.svg");
        }
    }
    &-16{
        background-image: url("../../assets/icons/topics/black/16_negro.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/16_naranja.svg");
        }
    }
    &-17{
        background-image: url("../../assets/icons/topics/black/17_negro.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/17_naranja.svg");
        }
    }
    &-18{
        background-image: url("../../assets/icons/topics/black/18_negro.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/18_naranja.svg");
        }
    }
    &-19{
        background-image: url("../../assets/icons/topics/black/19_negro.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/19_naranja.svg");
        }
    }
    &-20{
        background-image: url("../../assets/icons/topics/black/20_negro.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/20_naranja.svg");
        }
    }
    &-21{
        background-image: url("../../assets/icons/topics/black/21_negro.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/21_naranja.svg");
        }
    }
    &-22{
        background-image: url("../../assets/icons/topics/black/22_negro.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/22_naranja.svg");
        }
    }
    &-23{
        background-image: url("../../assets/icons/topics/black/23_negro.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/23_naranja.svg");
        }
    }
    &-24{
        background-image: url("../../assets/icons/topics/black/24_negro.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/24_naranja.svg");
        }
    }
    &-25{
        background-image: url("../../assets/icons/topics/black/25_negro.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/25_naranja.svg");
        }
    }
    &-26{
        background-image: url("../../assets/icons/topics/black/26_negro.svg");
        &:hover{
            background-image: url("../../assets/icons/topics/orange/26_naranja.svg");
        }
    }
}
