.header {
    background-image: url("../../assets/images/header.png"), linear-gradient($color-blue-dark, $color-blue-dark);
    background-size: cover;
    background-position: top center;
    min-height: 30rem;
    position: fixed;
    width: 100vw;
    z-index: 999;
    top: 0;

    .container-text{
        background: white;
        position: absolute;
        bottom: 0;
        width: 80vw;
        right: 0;
        left: 0;
        padding: 5rem 6rem 1rem 6rem;
        margin: auto;

        @media (max-width: 768px) {
            padding: 4rem 6rem 1rem 6rem;
            width: 90vw;
            bottom: -2rem;
        }

        @media (max-width: 540px){
            padding: 4rem 4rem 1rem 4rem;
            width: 90vw;
            bottom: -4rem;
        }

        @media (max-width: 470px){
            bottom: -8rem;
        }

        @media (max-width: 350px){
            bottom: -11rem;
            padding: 3rem 4rem 1rem 4rem;
        }
    }

    &--small {
        height: auto;
        min-height: auto;
    }

    &-text {
        font-family: "Montserrat Regular";
        font-size: 1.8rem;
        color: $color-white;
        padding: 2rem;
    }
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 0;

    .logo img {
        max-height: 80px;
        max-height: 70px;
        margin-left: 1rem;
    }

    .search {
        width: 35px;
        margin: 0 2rem;
    }

    .brand img {
        max-height: 70px;
    }
}

.menu {
    display: flex;
    align-items: center;

    &-inner {
        list-style: none;
        color: white;
        display: flex;
    }

    &-item {
        margin: 1rem;
        transition: all 0.2s;

        &:hover {
            color: white;
            text-decoration: none;
            transform: translateY(-5px);
        }
    }

    &-link {
        color: white;
        font-family: "Montserrat Regular";
        font-size: 1.5rem;
        text-decoration: none;
        transition: all 0.1s;
        font-size: 1.5rem;
        font-weight: bolder;

        @media (max-width: 768px) {
            font-family: "Work Sans";
            font-weight: normal;
            font-size: 1.8rem;
        }

        &::after {
            content: "";
            transition: all 0.1s;
            width: 0%;
        }

        &:hover {
            transform: translateY(-3px);

            &::after {
                content: "";
                height: 2px;
                width: 60%;
                background-color: $color-white;
                display: block;
            }
        }
    }
}

.burger {
    position: absolute;
    display: block;
    cursor: pointer;
    user-select: none;
    order: -1;
    z-index: 9999;
    width: 2.3rem;
    height: 1rem;
    border: none;
    outline: none;
    background: none;
    visibility: visible;
    transform: rotate(0deg);
    transition: 0.35s ease;
    right: 2rem;
    // Responsive Media Query
    @media only screen and (min-width: 768px) {
        display: none;
        visibility: hidden;
    }

    &-line {
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        border: none;
        outline: none;
        opacity: 1;
        transform: rotate(0deg);
        background-color: $color-primary;
        transition: 0.25s ease-in-out;

        &:nth-child(1) {
            top: 0px;
        }
        &:nth-child(2) {
            top: 0.6rem;
            width: 80%;
        }
        &:nth-child(3) {
            top: 1.3rem;
            width: 60%;
        }
    }
}

.search {
    &-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 998;
    }
    &-input {
        background: $color-white;
        font-family: "Montserrat Regular";
        font-size: 1.4rem;
        padding: 1.2rem 2rem;
        outline: none;
        border-radius: 5rem;
        border: none;
        box-shadow: 0 0 5px 5px rgba($color-grey-dark, 0.2);
        min-width: 50vw;
        @media (max-width: 768px) {
            min-width: 75vw;
        }
    }
    &-button {
        background: $color-primary;
        color: $color-white;
        font-family: "Montserrat SemiBold";
        font-size: 1.4rem;
        text-align: center;
        padding: 1.2rem 3rem;
        outline: none;
        border-radius: 5rem;
        border: none;
        box-shadow: 0 0 5px 5px rgba($color-grey-dark, 0.2);
        margin-left: -7rem;
        transition: all .2s;
        cursor: pointer;

        &:hover{
            background: $color-secondary;
        }
    }
}

.logos-mobile{
    display: none;
    transition: all .2s;
    display: flex;
    top: 3rem;
    left: 3rem;
    position: absolute;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

//Menu
.menu-button-container {
    display: none;
    height: 3rem;
    width: 50px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    z-index: 99999;
}

#menu-toggle {
    display: none;
    position: fixed;
    right: 2rem;
}

#menu-toggle:checked {
    ~ .menu {
        display: flex;
        width: 100vw;
        height: 100vh;
        background-color: rgba($color-grey-dark, 0.8);
        position: fixed;
        top: 0;
        right: 0; 
        z-index: 999;

        .logos-mobile{
            display: block;
            visibility: visible;

            .brand{
                position: relative;
                bottom: 0;
            }
        }

        .menu-container{
            position: absolute;
            right: 0;
            top: 0;
            padding-top: 15rem;
            flex-direction: column;
            align-items: center;
            display: flex;
            width: 90vw;
            height: 100vh;
            background-color: $color-blue-dark;
        }

        .menu-inner {
            color: $color-white;
            width: 90%;
            flex-direction: column;
            right: 0;
            position: absolute
        }

        .menu-item{
            padding-left: 1rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid white;
        }

        .menu-link {
            color:  $color-white;
            text-align: center;
    
            &:hover {
                transform: translateY(-3px);
                color: $color-secondary;
    
                &::after {
                    content: "";
                    height: 2px;
                    width: 60%;
                    background-color: $color-secondary;
                    display: block;
                }
            }
        }

        .brand{
            position: absolute;
            bottom: 2rem;
        }
    }

    ~ .burger .burger-line {
        background-color: $color-white;
        &:nth-child(1) {
            top: 0.6rem;
            transform: rotate(135deg);
        }
        &:nth-child(2) {
            right: -1.2rem;
            opacity: 0;
            visibility: hidden;
            width: 100%;
        }
        &:nth-child(3) {
            top: 0.6rem;
            transform: rotate(-135deg);
            width: 100%;
        }
    }
}
//Responsive
@media (max-width: 768px) {
    .menu-button-container {
        display: flex;
    }

    .menu{
        display: none;
    }
}
