.sidenav{
    background-color: $color-grey-light;
    height: 100%;
    width: 100%;
    min-width: 200px;
    min-height: 100vw;
    padding: 2rem;
    text-align: center;

    
    @media (max-width: 768px) {
        min-height: auto;
    }

    p{
        text-align: center;
        font-family: 'Montserrat Regular';
        font-size: 2rem;
        color: $color-tertiary;

        i{
            margin-right: 1rem;
        }
    }

    &-list{
        margin-top: 4rem;
        list-style: none;

        &-dropdown{
            list-style: none;
            margin-left: 1rem;
        }
    }

    &-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Montserrat Regular';
        font-size: 1.3rem;
        padding: 1rem;
        a{
            display: block;
            text-align: center;
            text-decoration: none;
            color: $color-grey-medium;
        }
        &-dropdown{
            padding: 0;
            border-bottom: .5px solid $color-grey-light;
            .title{
                text-decoration: none;
                width: 100%;
                padding: 1rem;
                &::after{
                    content: '>';
                    margin-left: 1rem;
                    color: $color-secondary;
                }
                .active{
                    font-family: 'Montserrat SemiBold';
                    color: $color-black;
                }
            }
        }
    }
}