.margin-bottom{
    margin-bottom: 2rem;
}

.margin-bottom-sm{
    margin-bottom: 1rem;
}

.text-center{
    text-align: center;
}

.d-flex{
    display: flex;
}

.d-ib{
    display: inline-block;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}