@mixin button($color, $bg-color) {
    font-family: 'Work Sans';
    font-size: 1.2rem;
    color: $color !important;
    border: 1px solid $color;
    border-radius: 5rem;
    padding: 1rem 2rem;
    text-align: center;
    background: $bg-color;
    outline: none;
    cursor: pointer;
    transition: all .2s;
}

@mixin separator($bg-color){
    height: 4px;
    width: 40vw;
    background-color: $bg-color;
}

@mixin paragraph($color){
    font-family: 'Work Sans';
    font-size: 1.4rem;
    color: $color;
}

@mixin title($color){
    font-family: 'Montserrat Bold';
    font-size: 1.8rem;
    color: $color;
    text-decoration: none;
}

@mixin grid($cols){
    display: grid;
    grid-template-columns: repeat($cols, 1fr);
    grid-gap: 1rem;
}

@mixin grid-auto($cols){
    display: grid;
    grid-template-columns: repeat($cols, auto);
    grid-gap: 1rem;
}