$color-primary: #603CE6;
$color-secondary: #33FFE0;
$color-tertiary: #022941;
$color-grey-smoke: #262626;
$color-grey-dark: #4C4D5F;
$color-grey-medium: #888282;
$color-grey-light: #F8F8F8;
$color-black: #000;
$color-white: #FFF;