$color-primary: #53ace9;
$color-secondary: #fa8d2d;
$color-tertiary: #022941;
$color-grey-smoke: #262626;
$color-grey-dark: #4C4D5F;
$color-grey-medium: #888282;
$color-grey-light: #F8F8F8;
$color-yellow: #FFC400;
$color-black: #000;
$color-white: #FFF;
$color-blue: #1FAEEF;
$color-green-blue: #3366cc;
$color-blue-light: #92BEE4;
$color-blue-dark: #353d57;
$color-purple: #603CE6;
$color-aquamarine: #33FFE0;
